<suite name="MyTestSuite">
    <test name="MyLogin">
        <classes>
            <class name="Tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="LoginWrongCredentialsTest">
        <classes>
            <class name="Tests.LoginWrongCredentialsTest"/>
        </classes>
    </test>
    <test name="EmptyCredantialsTest">
        <classes>
            <class name="Tests.EmptyCredantialsTest"/>
        </classes>
    </test>
    <test name="NewStoryCreate">
        <classes>
            <class name="Tests.NewStoryCreate"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>

