<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">

    <test name="MyLogin">
        <classes>
            <class name="Tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="LoginWrongCredentialsTest">
        <classes>
            <class name="Tests.LoginWrongCredentialsTest"/>
        </classes>
    </test>
    <test name="EmptyCredantialsTest">
        <classes>
            <class name="Tests.EmptyCredantialsTest"/>
        </classes>
    </test>
    <test name="NewStoryCreate">
        <classes>
            <class name="Tests.NewStoryCreateTest"/>
        </classes>
    </test>
    <test name="NewStoryCreate2Test">
        <classes>
            <class name="Tests.NewStoryCreate2Test"/>
        </classes>
    </test>
    <test name="NewStoryCreate3">
        <classes>
            <class name="Tests.NewStoryCreate3Test"/>
        </classes>
    </test>
    <test name="NewStoryCreate4">
        <classes>
            <class name="Tests.NewStoryCreate4Test"/>
        </classes>
    </test>
    <test name="CancelStoryTest">
        <classes>
            <class name="Tests.CancelStoryTest"/>
        </classes>
    </test>
    <test name="FullStoryTest">
        <classes>
            <class name="Tests.FullStoryTest"/>
        </classes>
    </test>
    <test name="RemoveStoryTest">
        <classes>
            <class name="Tests.RemoveStoryTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>

