<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="Tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="LoginWrongCredentialsTest">
        <classes>
            <class name="Tests.LoginWrongCredentialsTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>

